@import "/css/fonts/Segoe/segoe.css";

/*------------------------------------------------------------------------
 --------------------------------- RESET ---------------------------------
 ------------------------------------------------------------------------ */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    /* line-height: 1; */
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
li,
a,
img,
video,
div,
article,
section {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

li {
    list-style: none;
}

/*------------------------------------------------------------------------
 --------------------------------- COLOR ---------------------------------
 ------------------------------------------------------------------------ */

:root {
    font-size: 16px;
    --l-green: #33481F;
    --d-green: #004D0F;
    --d-grey: #1c1c1c;
    --l-grey: #333333;
    --red: #DD4B48;
    --yellow: #FFDB26;
    --reggae-grad: -webkit-linear-gradient(left, var(--d-green), var(--yellow), var(--red));
}

html{
    scroll-behavior: smooth;
}

body {
    color: var(--l-grey);
}

.color-white {
    color: #fff;
}

.bgcolor-white {
    background-color: #fff;
}

/*------------------------------------------------------------------------
 --------------------------------- GENERAL ---------------------------------
 ------------------------------------------------------------------------ */

h1 {
    font-size: 2.8rem;
    font-weight: 580;
    font-family: 'Segoe UI Bold';
}

h2 {
    font-size: 1.9rem;
    font-weight: 600;
    font-family: 'Segoe UI Bold';
}

h3 {
    font-size: 1.8rem;
    font-family: 'Segoe UI Bold';
}

h4 {
    font-size: 1.25rem;
    font-family: 'Segoe UI Regular';
}

a,
li,
.btn {
    cursor: pointer;
    text-decoration: none;
}

.btn {
    border: 3px solid var(--d-grey);
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.line {
    background-image: var(--reggae-grad);
    height: 3px;
}

.read-more {
    text-transform: uppercase;
    font-size: 0.8rem;
}

/*------------------------------------------------------------------------
 --------------------------------- HEADER ---------------------------------
 ------------------------------------------------------------------------ */

header {
    padding: 10px;
    background-color: var(--l-green);
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 10vh;
    top: 0;
}

header #logo {
    width: 15%;
    position: fixed;
    left: 10px;
    top: 10px;
}

header #logo img {
    width: 100%;
}

header #hamburger-menu {
    width: 10%;
    text-align: right;
    cursor: pointer;
    position: fixed;
    z-index: 999;
    right: 10px;
}

header nav {
    background-color: var(--l-green);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    padding: 30vh 0;
    left: 0;
    display: none;
}

header nav ul {
    width: 100%;
    justify-content: space-between;
}

header nav ul li {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

/*------------------------------------------------------------------------
 --------------------------------- INTRO ---------------------------------
 ------------------------------------------------------------------------ */

#intro {
    position: relative;
    height: 100vh;
    z-index: -999;
    top: 0;
    overflow: hidden;
}

#intro video {
    max-width: 100vw;
}

#intro article {
    width: 90%;
    position: absolute;
    max-height: 100vh;
    top: 20vh;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

li,
figure,
figcaption,
article,
section {
    width: 100%;
}

/*------------------------------------------------------------------------
 --------------------------------- MAIN ---------------------------------
 ------------------------------------------------------------------------ */

main {
    padding: 10px;
    margin-top: 20px;
}

main h2 {
    text-align: center;
    margin-bottom: 10px;
}

main #updates {
    top: 100vh;
}

/*------------------------------------------------------------------------
 --------------------------------- CALENDAR ---------------------------------
 ------------------------------------------------------------------------ */

#updates aside {
    border: 1px solid var(--d-grey);
    padding: 15px;
    margin: 15px;

}

.calendar {
    background-color: var(--l-green);
}

/*------------------------------------------------------------------------
 --------------------------------- LATEST ---------------------------------
 ------------------------------------------------------------------------ */

#updates figure {
    margin-bottom: 20px;
}

#updates a.read-more {
    padding-top: 50%;
}

#updates .post-inf {
    font-size: 0.8rem;
    display: flex;
}

#updates .post-inf .line {}

/*------------------------------------------------------------------------
 --------------------------------- WORKSHOPS ---------------------------------
 ------------------------------------------------------------------------ */

#workshops {
    margin-top: 13vh;
}

#workshops figure {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#workshops figure img {
    width: 120%;
    max-height: 100%;
}

#workshops figure figcaption {
    position: absolute;
    width: 100%;
    z-index: 10;
    padding-top: 30%;
    top: 0;
    height: 98%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-transform: uppercase;
}

#workshops figure figcaption h3 {
    font-size: 1.2rem;
}

#workshops #to-calendar {
    width: 100%;
    display: flex;
    margin-top: 5%;
}

#workshops #to-calendar .line {
    width: 20%;
    margin: 5px 20px 5px 5px;
}

#workshops #to-calendar a {
    width: 80%;
    font-weight: 600;
    font-size: 0.8rem;
}

/*------------------------------------------------------------------------
 --------------------------------- LARGE CALENDAR ---------------------------------
 ------------------------------------------------------------------------ */

#workshop-calendar {
    width: 100%;
    margin-top: 15%;
}

#workshop-calendar figure {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 5%;
    margin-top: 5%;
}

#workshop-calendar .num-calendar {
    position: absolute;
    z-index: 10;
    max-width: 25vw;
    left: 0;
    top: 0;
    background-color: #fff;
    color: var(--red);
    font-weight: 1000;
    font-size: 2rem;
    padding: 10px;
    max-height: 10vh;
}

#workshop-calendar figure img {
    width: 120%;
    max-height: 100%;
}

#workshop-calendar .post-inf {
    background-color: var(--l-green);
    color: #fff;
    padding: 15px;
    display: flex;
    font-size: 0.8rem;
}

#workshop-calendar .post-inf img {
    width: 10%;
}

#workshop-calendar #month-controls{
    width: 100%;
    display: flex;
    justify-content: center;
}

#workshop-calendar #month-controls img{
    width: 7vw;
}

#workshop-calendar #month-controls p{
    text-align: center;
    width: 40vw;
    margin-top: 5px;
}

#workshop-calendar #month-controls .bold{
    font-weight: 700;
}

/*------------------------------------------------------------------------
 --------------------------------- FOOTER ---------------------------------
 ------------------------------------------------------------------------ */

footer {
    position: relative;
    bottom: 0;
}

footer #calendar,
footer #sitemap {
    display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
    /*------------------------------------------------------------------------
 --------------------------------- HEADER ---------------------------------
 ------------------------------------------------------------------------ */

    header {
        min-height: 15vh;
        position: relative;
    }

    header nav {
        width: 70%;
        height: 10%;
        display: block;
        left: 30%;
        padding: 0;
        font-size: 0.8rem;
    }

    header nav ul {
        display: flex;
        margin-top: 4vh;
    }

    header #hamburger-menu {
        display: none;
    }

    header #logo {
        max-width: 6vw;
    }

    header nav ul {
        margin-top: 6vh;
    }

    #intro {
        height: auto;
    }

    /*------------------------------------------------------------------------
 --------------------------------- MAIN ---------------------------------
 ------------------------------------------------------------------------ */

    main {
        width: 85%;
        margin: auto;
    }

    /*------------------------------------------------------------------------
 ---------------------- LATEST UPDATES/LARGE CALENDAR ------------------------
 ------------------------------------------------------------------------ */

    #updates {
        width: 100%;
        display: flex;
    }

    #updates h2, #workshop-calendar h2 {
        margin-bottom: 5%;
    }

    #updates #posts,
    #workshop-calendar #posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #updates #posts {
        width: calc(100%/3*2);
    }

    #workshop-calendar #posts {
        width: 100%;
        margin-top: 5vh;
    }

    #workshop-calendar figure{
        margin: 10px;
    }

    #updates .head-post {
        width: 100%;
        display: flex;
    }

    #workshop-calendar #posts .head-post {
        width: calc(95%/3*2);
        display: flex;
    }

    #workshop-calendar #posts .head-post figcaption{
        bottom: 0;
        position :absolute;
        right: 0;
    }

    #workshop-calendar #posts figcaption h3, #workshop-calendar #posts figcaption p{
        padding-left: 15px;
    }

    #workshop-calendar #posts figcaption > p{
        padding-bottom: 15px;
    }

    #updates .head-post img,
    #updates .head-post figcaption,
    #workshop-calendar .head-post img,
    #workshop-calendar .head-post figcaption {
        width: 50%;
    }

    #updates .head-post figcaption,
    #workshop-calendar .head-post figcaption {
        margin-left: 15px;
    }

    #updates .reg-post > img,
    #updates .reg-post figcaption,
    #workshop-calendar .reg-post figcaption {
        width: 100%;
    }

    #updates .reg-post{
        width: 47.5%;
    }

    #workshop-calendar .reg-post{
        width: calc(90%/3);
    }

    #workshop-calendar .post-inf img{
        width: 1.5vw;
    }
    
    #workshop-calendar #month-controls img{
        width: 3vw;
    }
    
    #workshop-calendar #month-controls p{
        max-width: 20vw;
    }

    /*------------------------------------------------------------------------
 --------------------------------- INSTA ---------------------------------
 ------------------------------------------------------------------------ */

    #insta {
        width: 100%;
    }

    #insta #insta-slider {
        width: 100%;
        display: flex;
    }

    #insta #insta-slider article {
        width: 25%;
        overflow: hidden;
        max-height: 10%;
    }

    #insta img {
        max-width: 100%;
    }

    #insta .btn {
        width: 20%;
    }


    /*------------------------------------------------------------------------
 --------------------------------- WORKSHOPS ---------------------------------
 ------------------------------------------------------------------------ */

    #workshops {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-areas: "em1 post1 post2 em2"
            "inf inf post3 post4"
            "em3 post5 post6 seemore";
    }

    #workshops>article {
        width: 90%;
        margin-top: 25px;
        grid-area: inf;
    }

    #workshops>article h2 {
        text-align: left;
    }

    #workshops figure {
        width: 95%;
        margin-top: 3%;
    }

    #workshops #sjorren {
        grid-area: post1;
    }

    #workshops #yoga {
        grid-area: post2;
    }

    #workshops #henna {
        grid-area: post3;
    }

    #workshops #beekeeping {
        grid-area: post4;
    }

    #workshops #cyclegardening {
        grid-area: post5;
    }

    #workshops #juggling {
        grid-area: post6;
    }

    #workshops #to-calendar {
        grid-area: seemore;
    }

    /*------------------------------------------------------------------------
 --------------------------------- FOOTER ---------------------------------
 ------------------------------------------------------------------------ */


}

@media (min-width: 1024px) {

    /*------------------------------------------------------------------------
 --------------------------------- HEADER ---------------------------------
 ------------------------------------------------------------------------ */
    header {
        height: 13vh;
        position: absolute;
    }

    header nav {
        width: 50%;
        max-height: 10vh;
        display: block;
        position: absolute;
        left: 40%;
        padding: 0;
        font-size: 0.8rem;
    }

    header nav ul {
        display: flex;
        margin-top: 5.5vh;
    }

    header #hamburger-menu {
        display: none;
    }

    header #logo {
        width: 5%;
        position: absolute;
        left: 10%;
        top: 10px;
    }

    header #logo img {
        width: 100%;
    }

    /*------------------------------------------------------------------------
 --------------------------------- INTRO ---------------------------------
 ------------------------------------------------------------------------ */

    #intro article {
        width: 50%;
        margin-left: 15px;
        top: 40vh;
    }

    /*------------------------------------------------------------------------
 ---------------------------------- MAIN ------------------------------------
 ------------------------------------------------------------------------ */

    main {
        width: 70%;
        margin: auto;
    }



    /*------------------------------------------------------------------------
 ---------------------- LATEST UPDATES/LARGE CALENDAR ------------------------
 ------------------------------------------------------------------------ */

 #updates {
    width: 100%;
    display: flex;
}

#updates h2, #workshop-calendar h2 {
    margin-bottom: 5%;
}

#updates #posts,
#workshop-calendar #posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#updates #posts {
    width: calc(100%/3*2);
}

#workshop-calendar #posts {
    width: 100%;
    margin-top: 5vh;
}

#workshop-calendar figure{
    margin: 10px;
}

#updates .head-post {
    width: 100%;
    display: flex;
}

#workshop-calendar #posts .head-post {
    width: calc(95%/3*2);
    display: flex;
}

#workshop-calendar #posts .head-post figcaption{
    bottom: 0;
    position :absolute;
    right: 0;
}

#workshop-calendar #posts figcaption h3, #workshop-calendar #posts figcaption p{
    padding-left: 15px;
}

#workshop-calendar #posts figcaption > p{
    padding-bottom: 15px;
}

#updates .head-post img,
#updates .head-post figcaption,
#workshop-calendar .head-post img,
#workshop-calendar .head-post figcaption {
    width: 50%;
}

#updates .head-post figcaption,
#workshop-calendar .head-post figcaption {
    margin-left: 15px;
}

#updates .reg-post > img,
#updates .reg-post figcaption,
#workshop-calendar .reg-post figcaption {
    width: 100%;
}

#updates .reg-post{
    width: 47.5%;
}

#workshop-calendar .reg-post{
    width: calc(90%/3);
}

#workshop-calendar .post-inf img{
    width: 1.5vw;
}

#workshop-calendar #month-controls img{
    width: 3vw;
}

#workshop-calendar #month-controls p{
    max-width: 20vw;
}

    /*------------------------------------------------------------------------
 --------------------------------- CALENDAR ---------------------------------
 ------------------------------------------------------------------------ */

    /*------------------------------------------------------------------------
 --------------------------------- INSTA ---------------------------------
 ------------------------------------------------------------------------ */

    #insta {
        width: 100%;
    }

    #insta #insta-slider {
        width: 100%;
        display: flex;
    }

    #insta #insta-slider article {
        width: 25%;
        overflow: hidden;
        max-height: 10%;
    }

    #insta img {
        max-width: 100%;
    }

    #insta .btn {
        width: 20%;
    }

    /*------------------------------------------------------------------------
 --------------------------------- WORKSHOPS ---------------------------------
 ------------------------------------------------------------------------ */

    #workshops {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-areas: "em1 post1 post2 em2"
            "inf inf post3 post4"
            "em3 post5 post6 seemore";
        margin-top: 20vh;
    }

    #workshops>article {
        width: 90%;
        margin-top: 25px;
        grid-area: inf;
    }

    #workshops>article h2 {
        text-align: left;
    }

    #workshops figure {
        width: 95%;
        margin-top: 3%;
        max-height: 22vh;
    }

    #workshops #sjorren {
        grid-area: post1;
    }

    #workshops #yoga {
        grid-area: post2;
    }

    #workshops #henna {
        grid-area: post3;
    }

    #workshops #beekeeping {
        grid-area: post4;
    }

    #workshops #cyclegardening {
        grid-area: post5;
    }

    #workshops #juggling {
        grid-area: post6;
    }

    #workshops #to-calendar {
        grid-area: seemore;
    }

    /*------------------------------------------------------------------------
 --------------------------------- FOOTER ---------------------------------
 ------------------------------------------------------------------------ */
}